:root{
    font-family: Poppins, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 1285px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}