header
{
	width: 1100px;
	height: 62.400001525878906px;
	opacity: 1;
	top: 48px;
	left: 96px;
	padding: 20px 80px 0px 80px;
	border-bottom: 1px solid #CBCBCB;
}

header a
{
	text-decoration: none;
}

.logo
{
	font-family: Poppins;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 21.18px;
	line-height: 130%;
	letter-spacing: 0px;
	vertical-align: middle;
	color: #6C5FBC;
	float: left;
}

.nav
{
	font-family: Inter;
	font-weight: 500;
	font-size: 17.83px;
	line-height: 26.74px;
	padding: 0px 400px 0px 40px;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: #606060;
	float: left;
}

.nav a
{
	padding: 0px 26.74px 0px 0px;
}

.buttons
{
	width: 232.88571166992188;
	height: 62.65713882446289;
	opacity: 1;
	top: -1px;
	left: 1015.12px;
	gap: 8.91px;

	font-family: Inter;
	font-weight: 700;
	font-size: 17.83px;
	line-height: 26.74px;
	letter-spacing: 0%;
	text-transform: capitalize;
	float: left;
}

.button1
{
	width: 102.48571014404297;
	height: 62.65713882446289;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;

}

.button2
{
	width: 121.48571014404297;
	height: 62.65713882446289;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;
	background: #6C5FBC;	
}

